# dependabot.yml
#
# Documentation:
#   https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Dependabot for CI
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "chore(ci)"

  # Dependabot for internal deps
  # Add explicit entry as any go.mods need internal dep checks
  - package-ecosystem: gomod
    directory: "/examples"
    commit-message:
      prefix: "chore(ci)"
    groups:
      external:
        exclude-patterns:
          - "github.com/opentdf/*"
    schedule:
      interval: daily
  - package-ecosystem: gomod
    directory: "/sdk"
    commit-message:
      prefix: "fix(deps)"
    groups:
      external:
        exclude-patterns:
          - "github.com/opentdf/*"
    schedule:
      interval: daily
  - package-ecosystem: gomod
    directory: "/tests-bdd"
    commit-message:
      prefix: "chore(ci)"
    groups:
      external:
        exclude-patterns:
          - "github.com/opentdf/*"
    schedule:
      interval: daily
  - package-ecosystem: gomod
    directory: "/service"
    commit-message:
      prefix: "fix(deps)"
    groups:
      external:
        exclude-patterns:
          - "github.com/opentdf/*"
    schedule:
      interval: daily
