# CODEOWNERS

* @opentdf/opentdf-architecture

## Policy

services/policy/* @opentdf/opentdf-policy

## SDK

/sdk/ @opentdf/opentdf-go-sdk

## Authorization

/services/authorization/ @opentdf/opentdf-authorization

## Key Access Server

/services/kas/ @opentdf/opentdf-kas
