services:
  keycloak:
    extends:
      file: docker-compose.base.yaml
      service: keycloak
    volumes:
    - ${KEYS_DIR:-./keys}/localhost.crt:/etc/x509/tls/localhost.crt
    - ${KEYS_DIR:-./keys}/localhost.key:/etc/x509/tls/localhost.key
    - ${KEYS_DIR:-./keys}/ca.jks:/truststore/truststore.jks

  opentdfdb:
    extends:
      file: docker-compose.base.yaml
      service: opentdfdb

  jaeger:
    extends:
      file: docker-compose.base.yaml
      service: jaeger

  ers-postgres:
    extends:
      file: docker-compose.base.yaml
      service: ers-postgres

  ers-ldap:
    extends:
      file: docker-compose.base.yaml
      service: ers-ldap

  ers-ldap-admin:
    extends:
      file: docker-compose.base.yaml
      service: ers-ldap-admin