go 1.25.5

toolchain go1.25.8

use (
	./.github/scripts/govulncheck-filter
	./examples
	./lib/fixtures
	./lib/flattening
	./lib/identifier
	./lib/ocrypto
	./protocol/go
	./sdk
	./service
	./tests-bdd
)
