go 1.25.0

use (
	./examples
	./lib/fixtures
	./lib/flattening
	./lib/identifier
	./lib/ocrypto
	./protocol/go
	./sdk
	./sdk/experimental/tdf/wasm/tinyjson
	./sdk/experimental/tdf/wasm/zipstream
	./service
	./tests-bdd
)
