name: "languagetool"

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.md"
      - "**/*.txt"

jobs:
  spellcheck:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          persist-credentials: false
      - uses: reviewdog/action-languagetool@ea19c757470ce0dbfcbc34aec090317cef1ff0b5 # 0.20.3
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          disabled_categories: ""
