name: 'languagetool'

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.md'
      - '**/*.txt'

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - uses: reviewdog/action-languagetool@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          disabled_categories: ''
