name: Lint

on:
  push:
    branches:
      - main

jobs:
  go:
    runs-on: ubuntu-22.04
    permissions:
      checks: write
      contents: read
    strategy:
      matrix:
        directory:
          - sdk
          - lib/ocrypto
          - service
          - examples
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491
        with:
          go-version: "1.21"
          cache-dependency-path: |
            sdk/go.sum
            examples/go.sum
            service/go.sum
      - run: make go.work
      - name: golangci-lint
        # uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc
        uses: strantalis/golangci-lint-action@f4e979f5b36068d69d340547f66c991dca8b70ef
        with:
          version: v1.56
          working-directory: ${{ matrix.directory }}
          args: --out-format=colored-line-number

  buf:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: bufbuild/buf-setup-action@382440cdb8ec7bc25a68d7b4711163d95f7cc3aa
      - uses: bufbuild/buf-lint-action@044d13acb1f155179c606aaa2e53aea304d22058
        with:
          input: service
