name: "Pull Request Checks"

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
  merge_group:
    branches:
      - main
    types:
      - checks_requested

jobs:
  pull-request-checks:
    permissions:
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: "Conventional Commits"
        if: contains(fromJSON('["pull_request", "pull_request_target"]'), github.event_name)
        id: conventional-commits
        uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Types include:
          #   - fix: fixes
          #   - feat: features and enhancements
          #   - chore: non-feature or enhancement (i.e. docs, ci, linting, automated, etc)
          types: |
            fix
            feat
            chore
            refactor
            revert
          # Scopes include:
          #   - main: used for automated releases
          #   - core: related to any core need such as the core service or monorepo
          #   - ci: anything related to ci
          #   - deps: dependency update
          #   - docs: anything related solely to documentation
          #   - sdk: related to sdk changes in the /sdk directory
          #   - policy: related to policy service changes (i.e. /service/policy)
          #   - kas: related to key access service changes (i.e. /service/kas)
          #   - authz: related to the authorization service changes (i.e. /service/authorization)
          scopes: |
            main
            core
            ci
            deps
            docs
            sdk
            policy
            kas
            authz
            examples
      