name: Build Platform Container Image

on:
  release:
    types: [published]

permissions: {}

jobs:
  build:
    if: startsWith(github.event.release.tag_name, 'service/')
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: "Authenticate to Google Cloud (Push to Public registry)"
        id: "gcp-auth"
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          token_format: "access_token"
          create_credentials_file: false

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # 4.0.0

      - name: Install Trivy
        uses: aquasecurity/setup-trivy@9ea583eb67910444b1f64abf338bd2e105a0a93d # 0.2.3
        with:
          version: v0.57.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false

      - name: "Docker login to Artifact Registry"
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: us-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.gcp-auth.outputs.access_token }}

      - id: docker_meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ${{ secrets.DOCKER_REPO }}
          tags: |
            type=sha,format=long
            type=match,pattern=service/v(\d+.\d+.\d+),group=1,prefix=v
            type=match,pattern=service/v(\d+.\d+),group=1,prefix=v
          labels: |
            org.opencontainers.image.documentation=https://docs.opentdf.io

      - name: Build and Push container images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}

      - name: Sign the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ steps.docker_meta.outputs.tags }}
        run: |
            images=()
            for tag in ${TAGS}; do
              images+=("${tag}@${DIGEST}")
            done
            cosign sign --yes "${images[@]}"

      - name: Generate Reports
        run: |
          trivy image --scanners vuln --format cyclonedx --output bom-cyclonedx.json "${REPO}@${DIGEST}"
          trivy image --format spdx-json --output bom-spdx.json "${REPO}@${DIGEST}"
          trivy image --format cosign-vuln --output cosign-vuln.json "${REPO}@${DIGEST}"
        env:
          REPO: ${{ secrets.DOCKER_REPO }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}

      - name: Cosign Attest SBOM
        run: |
          cosign attest --type cyclonedx --predicate bom-cyclonedx.json "${REPO}@${DIGEST}"
          cosign attest --type spdxjson -predicate bom-spdx.json "${REPO}@${DIGEST}"
          cosign attest --type vuln --predicate cosign-vuln.json "${REPO}@${DIGEST}"
        env:
          REPO: ${{ secrets.DOCKER_REPO }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
