name: Release

on:
  push:
    branches:
      - main
      - "release/*"

permissions: {}

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
    uses: opentdf/platform/reusable_release-please.yaml@main
