on:
  workflow_call: {}

# Default empty permissions for all jobs
permissions: {}

jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:

      - name: "Validate Inputs"
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        shell: bash
        env:
          REF: ${{ github.ref }}
        run: |
          echo "Error: invalid github ref [$REF] for release-branch action, must be 'refs/tags/**'" | tee -a "$GITHUB_STEP_SUMMARY"
          exit 1

      - name: "Generate a token"
        id: generate-token
        uses: actions/create-github-app-token@30bf6253fa41bdc8d1501d202ad15287582246b4 # v2.0.3
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.AUTOMATION_KEY }}

      - name: "Checkout"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: true
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: "Create release branch from tag"
        id: release-branch
        uses: opentdf/platform/.github/actions/release-branch@main
        with:
          branch-prefix: "release/"
          github-token: ${{ steps.generate-token.outputs.token }}
