name: SonarCloud
on:
  schedule:
    - cron: "0 5 * * 2,4,6"
#  pull_request:
#    types:
#      - opened
#      - synchronize
#      - reopened

permissions: {}

jobs:
  gotest:
    name: "Generate Golang Test Reports"
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: "Setup Go"
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.23"
          check-latest: false
          cache-dependency-path: |
            service/go.sum
            sdk/go.sum
            examples/go.sum
            protocol/go/go.sum

      - name: "Generate Golang Test Reports"
        run: go test -v -coverprofile coverage.out -json ./sdk/... ./service/... ./lib/ocrypto | tee coverage.json

      - name: "Cover report"
        run: go tool cover -func=coverage.out

      - name: "Archive Golang Test Results"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: code-coverage-report
          path: coverage.*
          retention-days: 3

  sonarcloud:
    name: "SonarCloud"
    runs-on: ubuntu-latest
    needs: [gotest]
    permissions:
      contents: read
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Download Code Coverage Report"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: code-coverage-report

      - name: "SonarCloud Scan"
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 #v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
