name: "Detect stale issues and PRs"
on:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
        with:
          days-before-stale: 120
          # negative number means they will never be closed automatically [https://github.com/actions/stale#days-before-close]
          days-before-close: -1
