name: "Detect stale issues and PRs"
on:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          days-before-stale: 120
          # negative number means they will never be closed automatically [https://github.com/actions/stale#days-before-close]
          days-before-close: -1
