name: testing

on:
  pull_request:
    branches:
      - "**"

permissions: {}

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - run: |
          echo ${{ vars.CENTRAL_WIF_PROVIDER }}

      - name: "Authenticate to Google Cloud (Push to Public registry)"
        id: "gcp-auth"
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{ vars.CENTRAL_WIF_PROVIDER }}
          token_format: "access_token"

      - name: "Docker login to Artifact Registry"
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: us-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.gcp-auth.outputs.access_token }}

      - name: Sign the images with GitHub OIDC Token
        run: |
          docker pull us-docker.pkg.dev/prj-opentdf-4fc4/opentdf/platform:nightly
